body {
    font-family: 'Roboto', sans-serif;
}

#name {
    font-weight: 500;
}

.tag-line {
    font-weight:100;
}

.icon {
    height: 3em;
}

.icon path {
    fill: rgba(var(--bs-dark-rgb), 1);
}

.icon:hover path {
    fill: rgba(var(--bs-dark-rgb), 0.9);
}